<div class="settings-content">
  <div>
    <div class="subtitle-medium">User Settings</div>

    <p>The settings on this page only affect your user account (e.g. how you log in to your Clien Fuse account).</p>
    <p>These settings do not change your <a class="click-target-helper link link-blue" href="#">integration settings</a> or your links.</p>
  </div>

  <div>
    <div class="subtitle-medium">Login Details</div>

    <div class="settings-content-stack">
      <div class="settings-content-row">
        <div class="settings-content-row-label">Connected Facebook Account</div>
        <div class="settings-content-row-value">
          <app-facebook-social-button text="Link Facebook Account" />
        </div>
      </div>

      <div class="settings-content-row">
        <div class="settings-content-row-label">Connected Google Account</div>
        <div class="settings-content-row-value">
          <app-google-social-button text="Link Google Account" />
        </div>
      </div>

      <div class="settings-content-row">
        <div class="settings-content-row-label">Joined Date</div>
        <div class="settings-content-row-value">Nov 18, 2024</div>
      </div>

      <div class="settings-content-row">
        <div class="settings-content-row-label">User Email</div>
        <div class="settings-content-row-value">
          <mat-form-field appearance="outline">
            <mat-label>User Email</mat-label>
            <input readonly matInput placeholder="User Email" value="olegbespalko12@gmail.com"/>
            <mat-hint>
              This is where you will get updates about Client Fuse. For connection notifications visit White-label Settings.
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>



