<div [ngClass]="tierCardClasses()">
  @if (isPopular()) {
    <div class="chip">most popular</div>
  }

  <button mat-flat-button [disabled]="isCurrentPlan()" (click)="onSelectTier()">
    {{ buttonLabel() }}
  </button>

  <div class="tier-card-title title-heading-3">{{ tier().name }}</div>

  <div class="tier-card-price-container">
    @if (monthlyEquivalent()) {
      <div class="tier-card-discount-price subtitle-medium">{{ monthlyEquivalent() }}</div>
    }
    <div class="tier-card-price subtitle-medium">{{ formattedPrice() }}</div>
    <div class="tier-card-per-period-text">{{ pricePerPeriodText() }}</div>
    <div class="tier-card-total">{{ totalForPeriodText() }}</div>
  </div>

  <div class="tier-card-features">
    @for (feature of tier().features; track feature) {
      <div class="tier-card-feature">
        <mat-icon>check</mat-icon>
        <div class="tier-card-feature-text">{{ feature }}</div>
      </div>
    }
  </div>
</div>
