@import "variables";

:host {
  display: block;
}

.island {
  padding: var(--spacing-6);
  border-radius: var(--br-3);
  width: 100%;
  border: 1px solid $dark-40;
  background: $cloud;
  transition: all 0.2s $standard-easing;

  &--neutral {
    background: $cloud;
    border-color: $dark-40;
  }

  &--success {
    background: rgba($green-100, 0.05);
    border-color: rgba($green-100, 0.2);

    &.island--border-accent {
      border-left: 4px solid $green-100;
    }
  }

  &--error {
    background: rgba($red-100, 0.05);
    border-color: rgba($red-100, 0.2);

    &.island--border-accent {
      border-left: 4px solid $red-100;
    }
  }

  &--warning {
    background: rgba($orange-100, 0.05);
    border-color: rgba($orange-100, 0.2);

    &.island--border-accent {
      border-left: 4px solid $orange-100;
    }
  }

  &--info {
    background: rgba($blue-100, 0.05);
    border-color: rgba($blue-100, 0.2);

    &.island--border-accent {
      border-left: 4px solid $blue-100;
    }
  }

  &--density-compact {
    padding: var(--spacing-3);
  }

  &--density-default {
    padding: var(--spacing-6);
  }

  &--density-comfortable {
    padding: var(--spacing-8);
  }
}
