<div class="dashboard-page">
  <h3 class="title-heading-3">Dashboard</h3>

  <div class="dashboard-content">
    <mat-tab-group>
      <mat-tab label="'Manage Access' Link">
        <div class="tab-content">
          <div>
            <div class="subtitle-medium">'Manage Access' Link</div>
            <div class="body-smaller-text">To onboard new clients</div>
          </div>

          <div>🔗 Share request via link</div>


          <div class="connect-link-row">
            <mat-form-field appearance="outline">
              <mat-label>'Manage Access' Link</mat-label>
              <input readonly matInput placeholder="Placeholder" [value]="manageAccessLink()" />
              <mat-hint>Copy the link and share it with your client</mat-hint>
            </mat-form-field>

            <button mat-icon-button matTooltip="Customize this link" (click)="openCustomizeAccessLinkModal('manage')">
              <mat-icon>settings</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Copy link" (click)="copyToClipboard(manageAccessLink())">
              <mat-icon>content_copy</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Open this link in a new tab" (click)="openInNewTab(manageAccessLink())">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>

          <div class="custom-request">
            <div class="body-strong">Request specific access:</div>
            <button mat-flat-button>Create custom request</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="'View Access' Link">
        <div class="tab-content">
          <div>
            <div class="subtitle-medium">'View Access' Link</div>
            <div class="body-smaller-text">To onboard new clients</div>
          </div>

          <div>🔗 Share request via link</div>


          <div class="connect-link-row">
            <mat-form-field appearance="outline">
              <mat-label>'View Access' Link</mat-label>
              <input readonly matInput placeholder="Placeholder" [value]="viewAccessLink()" />
              <mat-hint>Copy the link and share it with your client</mat-hint>
            </mat-form-field>

            <button mat-icon-button matTooltip="Customize this link" (click)="openCustomizeAccessLinkModal('view')">
              <mat-icon>settings</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Copy link" (click)="copyToClipboard(viewAccessLink())">
              <mat-icon>content_copy</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Open this link in a new tab" (click)="openInNewTab(viewAccessLink())">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>

          <div class="custom-request">
            <div class="body-strong">Request specific access:</div>
            <button mat-flat-button>Create custom request</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group>
      <mat-tab label="Client Summary">
        <div class="tab-content w-100">
          <div class="subtitle-medium">Client Summary</div>
          <table>
            <thead>
            <tr>
              <th>#</th>
              <th>Client</th>
              <th>Assets</th>
              <th>Requested Partners</th>
              <th>Connections</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><a href="#" class="link link-blue">Teach Fast</a></td>
              <td>
                <ul>
                  <li>✅ Google Analytics Account: styles.com.ua (188251058)</li>
                  <li>⚠️ Meta Ad Account: Main (9068114896565705)</li>
                  <li>✅ Facebook Page: Teach Fast (481084805089953)</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Facebook: Old Business (191843779016692)</li>
                  <li>Google: olegbespalko12gmail.com</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Tue, Nov 19, 2024 5:48 PM (<a href="#" class="link link-blue">Manage link</a>)</li>
                  <li>Tue, Nov 19, 2024 5:47 PM (<a href="#" class="link link-blue">Manage link</a>)</li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Connections">
        <div class="tab-content w-100">
          <div class="subtitle-medium">Connections</div>
          <table>
            <thead>
            <tr>
              <th>#</th>
              <th>Summary</th>
              <th>Request Details</th>
              <th>Date</th>
              <th>Assets</th>
              <th>Access Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><a href="#" class="link link-blue">Summary Details</a></td>
              <td>
                Facebook: Old Business (191843779016692), Google Accounts:
                <a href="#" class="link link-blue">olegbespalko12gmail.com</a>
              </td>
              <td>Tue, Nov 19, 2024 5:48 PM</td>
              <td>
                <ul>
                  <li>✅ Google Analytics Account: styles.com.ua (188251058)</li>
                  <li>⚠️ Meta Ad Account: Main (9068114896565705)</li>
                </ul>
              </td>
              <td>Manage</td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#" class="link link-blue">Summary Details</a></td>
              <td>
                Facebook: Old Business (191843779016692)
                <a href="#" class="link link-blue">link</a>
              </td>
              <td>Tue, Nov 19, 2024 5:47 PM</td>
              <td>
                <ul>
                  <li>⚠️ Meta Ad Account: Main (9068114896565705)</li>
                  <li>✅ Facebook Page: Teach Fast (481084805089953)</li>
                </ul>
              </td>
              <td>Manage</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Custom Requests">
        <div class="tab-content w-100">
          <div class="subtitle-medium">Custom Requests</div>
          <table>
            <thead>
            <tr>
              <th>#</th>
              <th>Link</th>
              <th>Request Email</th>
              <th>Assets (Requesting Partner)</th>
              <th>Access Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td><a href="#" class="link link-blue">View 🔗</a></td>
              <td>olegbespalko12gmail.com</td>
              <td>
                <ul>
                  <li>Meta Ad Account (Old Business)</li>
                  <li>Facebook Page (Old Business)</li>
                </ul>
              </td>
              <td>Manage</td>
            </tr>
            </tbody>
          </table>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
