<div class="clientfuse-modal">

  <div class="clientfuse-modal-header">
    <div class="subtitle-medium">Provide your email</div>
  </div>

  <div class="clientfuse-modal-description">
    <p>
      To continue using {{ appName }}, please enter your email address below, as we are unable to retrieve it automatically from the platform.
    </p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="clientfuse-modal-content">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.controls['email'].hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>

    <div class="clientfuse-modal-actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
