@import "variables";

@mixin link-style($baseColor, $hoverColor, $activeColor) {
  color: $baseColor;

  &:not([disabled]):not(.disabled):not(:disabled) {
    @include mouseOrTrackpadNavigation {
      cursor: pointer;
    }

    &:hover {
      color: $hoverColor;
      text-decoration: underline;
    }

    &:active {
      color: $activeColor;
    }
  }

  [disabled], &:disabled, &.disabled {
    color: $dark-60;
    pointer-events: none;
  }
}

.link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  @extend .link-medium;
}

.link-blue {
  @include link-style($blue-100, $blue-60, $blue-80);
}

.link-red {
  @include link-style($red-100, $red-60, $red-80);
}
