<div class="clientfuse-modal">

  <div class="clientfuse-modal-header">
    <div class="subtitle-medium">Customize your standard access links</div>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="clientfuse-modal-description">
    <p>Select which accounts to get access to by default.</p>
    <p>You can also create <a href="#" class="link link-blue">custom requests</a> to receive access to specific assets.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="clientfuse-modal-content">

    <mat-form-field class="w-100">
      <mat-label>Connection Link Name</mat-label>
      <input matInput [formControl]="nameControl" required>
      @if (nameControl.hasError('required') && nameControl.touched) {
        <mat-error>Name is required</mat-error>
      }
      @if (nameControl.hasError('minlength') && nameControl.touched) {
        <mat-error>Name must be at least 1 character</mat-error>
      }
      @if (nameControl.hasError('maxlength') && nameControl.touched) {
        <mat-error>Name must not exceed 128 characters</mat-error>
      }
    </mat-form-field>

    <div class="platforms-container">
      @for (section of sections(); track section.name) {
        <mat-accordion class="accordion">
          <mat-expansion-panel [expanded]="section.expanded" class="accordion-panel">

            <mat-expansion-panel-header class="accordion-header">
              <mat-panel-title class="accordion-title">
                <div class="accordion-info">
                  <div class="accordion-icon">
                    <img [src]="section.iconSrc" alt="{{ section.name }} icon">
                  </div>
                  <span class="accordion-name">{{ section.name }}</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            @if (section.platform === 'facebook' && businessAccounts().length > 0) {
              <div class="selector">
                <mat-form-field appearance="outline">
                  <mat-label>Business Portfolio</mat-label>
                  <mat-select [value]="selectedBusinessPortfolioId()" (selectionChange)="onBusinessPortfolioChange($event.value)">
                    @for (account of businessAccounts(); track account.id) {
                      <mat-option [value]="account.id">
                        {{ account.name }} ({{ account.id }})
                      </mat-option>
                    }
                  </mat-select>
                  <mat-hint>Controls which business portfolio the client will grant access to for the agency</mat-hint>
                </mat-form-field>
              </div>
            }

            <div class="services-container">
              @for (service of section.services; track service.name) {
                <div class="service-item">
                  <div class="service-toggle">
                    <mat-slide-toggle (change)="onToggleChange($event, service)"
                                      [checked]="service.isEnabled"></mat-slide-toggle>
                  </div>

                  <div class="service-details">
                    @if (service.iconSrc) {
                      <div class="service-icon" [attr.data-service]="service.name">
                        <img [src]="service.iconSrc" alt="{{ service.name }} icon">
                      </div>
                    }

                    <div class="service-info">
                      <div class="service-email-row">
                        <div>
                          <div class="service-name">{{ service.name }}</div>
                          <span class="service-email">{{ service.email }}</span>
                        </div>
                        <!--                         <span class="service-connector">or</span> -->
                        <!--                         <button mat-button color="primary" class="change-button" type="button" (click)="onChangeEmail(service)"> -->
                        <!--                           change -->
                        <!--                         </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      }
    </div>


    <div class="clientfuse-modal-actions">
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!isChanged() || nameControl.invalid">Save Changes</button>
    </div>

  </form>
</div>
