@import "mixins";
@import "variables";

:host {
  display: block;
}

.connectly-modal-content {
  .platforms-container {
    display: grid;
    max-height: 700px;
    overflow-y: auto;
  }
}

.accordion {
  margin-bottom: var(--spacing-4);
}

.services-container {
  padding: 0 var(--spacing-4) var(--spacing-4) var(--spacing-4);

  .service-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
    border-bottom: 1px solid $dark-20;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .service-toggle {
      margin-right: var(--spacing-4);
      flex-shrink: 0;
    }

    .service-details {
      display: flex;
      align-items: center;
      flex: 1;

      .service-icon {
        --service-icon-size: 24px;
        width: var(--service-icon-size);
        height: var(--service-icon-size);
        margin-right: var(--spacing-3);
        flex-shrink: 0;
      }

      .service-info {
        flex: 1;

        .service-email-row {
          display: flex;
          gap: var(--spacing-2);
          align-items: center;
          font-size: var(--fs-14);

          .service-name {
            font-weight: var(--fw-medium);
          }

          .service-email {
            color: $dark-100;
          }

          .service-connector {
            color: $dark-60;
          }
        }
      }
    }
  }
}
