<header>
  <div class="container">
    <div [routerLink]="routesService.dashboard()" class="title-heading-3 header-logo">Connectly</div>

    @if (authStoreService.isLoggedIn()) {
      <ul class="header-menu">
        @for (item of menuItems; track item.label) {
          <li>
            @if (item.action) {
              <a class="click-target-helper" (click)="item.action()">{{ item.label }}</a>
            } @else {
              <a class="click-target-helper" [routerLink]=" item.url">{{ item.label }}</a>
            }
          </li>
        }
      </ul>
    }
  </div>
</header>
