<mat-accordion class="accordion">
  <mat-expansion-panel [expanded]="false" class="accordion-panel">

    <mat-expansion-panel-header class="accordion-header">
      <mat-panel-title class="accordion-title">
        <div class="accordion-info">
          <div class="accordion-icon">
            <img [src]="'temp'" alt="icon">
          </div>
          <span class="accordion-name">Ads</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
</mat-accordion>
