@import "../settings-page-shared";

:host {
  display: block;
}

.billing-period-toggle {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: center;
}

.billing-tiers-container {
  display: grid;
  gap: var(--spacing-6);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
